<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<link rel="stylesheet" href="../static/css/style.css">
	</script>
</head>

<body>
	<!-- control header -->
	<div class="header">
		<button type="button" class="btn-style" onclick="execute()"> Start </button>
		<button type="button" class="btn-style" onclick="pauseExecution()"> Pause </button>
		<button type="button" class="btn-style" onclick="resetGrid(event)"> Reset </button>
		<button type="button" class="btn-style" onclick="generateRandom()"> Random </button>

	</div>

	<!-- grid -->
	<div class="grid">
		<table class="main-table">
		{% for i in range(75) %}
			<tr>
			{% for i in range(125) %}
				<td></td>	
			{%endfor%}
			</tr>

		{%endfor%}
		</table>
	</div>
	<script src="../static/js/main.js"></script>
</body>
</html>
